{% extends "base.html" %}
{% block title %}
  Страница пользователя {{ profile_user.username }}
{% endblock %}
{% block content %}
  <h1 class="mb-5 text-center ">Страница пользователя {{ profile_user.username }}</h1>
  <small>
    <ul class="list-group list-group-horizontal justify-content-center mb-3">
      <li class="list-group-item text-muted">Имя: {{ profile_user.first_name }}</li>
      <li class="list-group-item text-muted">Фамилия: {{ profile_user.last_name }}</li>
      <li class="list-group-item text-muted">Логин: {{ profile_user.username }}</li>
      <li class="list-group-item text-muted">Email: {{ profile_user.email }}</li>
    </ul>
    <ul class="list-group list-group-horizontal justify-content-center">
      {% if user.is_authenticated and request.user == profile_user %}
      <a class="btn btn-sm text-muted" href="{% url 'edit_profile' profile_user.username %}">Редактировать профиль</a>
      <a class="btn btn-sm text-muted" href="{% url 'password_change' %}">Изменить пароль</a>
      {% endif %}
    </ul>
  </small>
  <br>
  <h3 class="mb-5 text-center">Публикации пользователя</h3>
  {% for post in page_obj %}
    <article class="mb-5">
      {% include "includes/post_card.html" %}
    </article>
  {% empty %}
    <p class="text-center">У пользователя пока нет опубликованных публикаций.</p>
  {% endfor %}
  {% include "includes/paginator.html" %}
{% endblock %}